@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.mb3 {
  margin-bottom: 24px;
}

.lh2 {
  line-height: 1.2;
}

.lh5 {
  line-height: 1.5;
}

/*flex 排列法*/
/*圖片取代文字隱藏文字*/
/*pad 直式以下套用樣式*/
/*phone 直式以下套用樣式*/
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .logo a {
  display: block;
  width: 250px;
  height: 250px;
  background-image: url(../images/M1.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header .logo a {
    width: 150px;
    height: 150px;
    background-image: url(../images/M2.png);
    margin-bottom: 20px;
  }
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header .menu li {
    width: 50%;
    margin: 0 auto 10px auto;
  }
}
.header .menu a {
  font-weight: bold;
  padding: 10px;
  display: block;
  color: #fff;
  text-align: center;
  background: #3399FF;
}
.header .menu a:hover {
  background: orange;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content .news_body {
  width: 75%;
  padding: 10px;
  border: 2px solid #000;
}
@media (max-width: 768px) {
  .content .news_body {
    width: 100%;
    margin-bottom: 20px;
  }
}
.content .news_body h1 {
  font-weight: bold;
  font-size: 20px;
}
.content .aside {
  width: 20%;
  border: 2px solid #000;
  padding: 5px;
}
@media (max-width: 768px) {
  .content .aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content .aside img {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 8px 0;
}